In [1]:
import numpy as np 
import pandas as pd 
from subprocess import check_output

In [2]:
dataset = pd.read_csv("kc_house_data.csv",engine="python")

In [3]:
dataset.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [4]:
dataset.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

>- let's check P-value and remove the insignificant variables
>- Initially let's take all variables.

In [7]:
x = dataset[['bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot','floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15']]

y = dataset['price']

In [9]:
x

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [10]:
y

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21608    360000.0
21609    400000.0
21610    402101.0
21611    400000.0
21612    325000.0
Name: price, Length: 21613, dtype: float64

In [52]:
import statsmodels.api as sm
regressor_OLS = sm.OLS(endog = y, exog = x).fit()
regressor_OLS.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  price   R-squared (uncentered):                   0.905
Model:                            OLS   Adj. R-squared (uncentered):              0.905
Method:                 Least Squares   F-statistic:                          1.287e+04
Date:                Fri, 20 Mar 2020   Prob (F-statistic):                        0.00
Time:                        23:47:13   Log-Likelihood:                     -2.9461e+05
No. Observations:               21613   AIC:                                  5.892e+05
Df Residuals:                   21597   BIC:                                  5.894e+05
Df Model:                          16
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
bedrooms      -3.562e+04   1887.390    -18.872      0.000   -3.93e+04   -3.19e+04
bathrooms      4.234e+04   3136.467     13.500      0.000    3.62e+04    4.85e+04
sqft_living     109.9055      2.256     48.724      0.000     105.484     114.327
sqft_lot          0.1312      0.048      2.742      0.006       0.037       0.225
waterfront     5.833e+05   1.74e+04     33.600      0.000    5.49e+05    6.17e+05
view           5.249e+04   2126.373     24.686      0.000    4.83e+04    5.67e+04
condition      2.691e+04   2315.359     11.624      0.000    2.24e+04    3.15e+04
grade          9.581e+04   2133.801     44.903      0.000    9.16e+04       1e+05
sqft_above       72.5890      2.088     34.763      0.000      68.496      76.682
sqft_basement    37.3165      2.407     15.506      0.000      32.599      42.033
yr_built      -2544.6464     67.021    -37.968      0.000   -2676.013   -2413.280
yr_renovated     20.6412      3.643      5.666      0.000      13.500      27.782
zipcode        -521.7152     17.738    -29.413      0.000    -556.482    -486.948
lat            6.036e+05   1.07e+04     56.456      0.000    5.83e+05    6.25e+05
long          -2.192e+05    1.3e+04    -16.824      0.000   -2.45e+05   -1.94e+05
sqft_living15    22.3571      3.355      6.664      0.000      15.782      28.932
sqft_lot15       -0.3807      0.073     -5.204      0.000      -0.524      -0.237
==============================================================================
Omnibus:                    18359.519   Durbin-Watson:                   1.991
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1857062.968
Skew:                           3.560   Prob(JB):                         0.00
Kurtosis:                      47.850   Cond. No.                     4.25e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.21e-21. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

**since floors has a value of more than .05 let's remove it**

In [35]:
x = dataset[['bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot','waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15']]

In [36]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x, y, random_state=3)

In [37]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

### <center> Linear Regression </center>


The equation of our line (or rather, plane) is $ y=b+m1.x1+m2.x2+m3.x3+m4.x4 $.

In [38]:
accuracy = regressor.score(x_test, y_test)
"Accuracy: {}%".format(int(round(accuracy * 100)))

'Accuracy: 71%'

In [39]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train,y_train)
print(model.score(x_test,y_test))

0.7079783965107793

In [40]:
# Fitting Multiple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

### <center> MLS </center>

In [65]:
import numpy as np
X_train = np.append (arr=np.ones([X_train.shape[0],1]).astype(int), values = X_train, axis = 1)

In [66]:
import statsmodels.api as sm
x1=sm.add_constant(x_train)
ols_regr = sm.OLS(endog = y_train, exog = x1).fit()

In [67]:
import numpy as np
x_train = np.append (arr=np.ones([x_train.shape[0],1]).astype(int), values = x_train, axis = 1)

In [68]:
import statsmodels.api as sm
X_opt = [0,1,2,3,4,5,6]
regressor = sm.OLS(y_train, x_train[:,X_opt]).fit()
print(regressor.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.504
Model:                            OLS   Adj. R-squared:                  0.504
Method:                 Least Squares   F-statistic:                     5498.
Date:                Fri, 20 Mar 2020   Prob (F-statistic):               0.00
Time:                        23:52:20   Log-Likelihood:            -2.2503e+05
No. Observations:               16209   AIC:                         4.501e+05
Df Residuals:                   16205   BIC:                         4.501e+05
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       1.804e+04   1994.013      9.048      0.000    1.41e+04     2.2e+04
x1          1.804e+04   1994.013      9.048      0.000    1.41e+04     2.2e+04
x2          1.804e+04   1994.013      9.048      0.000    1.41e+04     2.2e+04
x3          1.804e+04   1994.013      9.048      0.000    1.41e+04     2.2e+04
x4         -5.488e+04   2666.900    -20.577      0.000   -6.01e+04   -4.96e+04
x5          3303.1140   4089.946      0.808      0.419   -4713.631    1.13e+04
x6           310.2113      3.573     86.831      0.000     303.209     317.214
==============================================================================
Omnibus:                    11019.487   Durbin-Watson:                   2.005
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           405320.220
Skew:                           2.780   Prob(JB):                         0.00
Kurtosis:                      26.858   Cond. No.                     5.29e+20
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is  3e-31. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

OLS stands for ‘Ordinary Least Squares’, which essentially trains a Linear model. From the summary, we observe that the higest P-value is for feature 5, which is way over our significance level of 0.05. Hence, we remove it.

In [75]:
X_opt = [0,1,2,3,4,6]
regressor_OLS = sm.OLS(y_train, x_train[:,X_opt]).fit()
print(regressor_OLS.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.504
Model:                            OLS   Adj. R-squared:                  0.504
Method:                 Least Squares   F-statistic:                     8247.
Date:                Fri, 20 Mar 2020   Prob (F-statistic):               0.00
Time:                        23:55:05   Log-Likelihood:            -2.2503e+05
No. Observations:               16209   AIC:                         4.501e+05
Df Residuals:                   16206   BIC:                         4.501e+05
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       1.853e+04   1900.859      9.748      0.000    1.48e+04    2.23e+04
x1          1.853e+04   1900.859      9.748      0.000    1.48e+04    2.23e+04
x2          1.853e+04   1900.859      9.748      0.000    1.48e+04    2.23e+04
x3          1.853e+04   1900.859      9.748      0.000    1.48e+04    2.23e+04
x4         -5.455e+04   2636.431    -20.692      0.000   -5.97e+04   -4.94e+04
x5           312.1085      2.692    115.956      0.000     306.833     317.384
==============================================================================
Omnibus:                    11008.991   Durbin-Watson:                   2.005
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           404254.174
Skew:                           2.777   Prob(JB):                         0.00
Kurtosis:                      26.827   Cond. No.                     2.06e+20
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.98e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.